.error-input {
	display: block;
	margin-top: 5px;
	color: #CE5454;
}

.img-content img {
	max-width: 100%;
	width: auto;
}

.both-left {
	width: 49%;
	margin-right: 1%;
}

.both-right {
	width: 49%;
	margin-left: 1%;
}

.textarea {
	resize: vertical;
}