.error-input {
	display: block;
	margin-top: 5px;
	color: #CE5454;
}

.img-content img {
	max-width: 100%;
	width: auto;
}

.both-left {
	width: 49%;
	margin-right: 1%;
}

.both-right {
	width: 49%;
	margin-left: 1%;
}

.textarea {
	resize: vertical;
}

.thumbnail {
	height: auto;
}

.album-container {
	position: relative;
}

.album-container:hover .album-tool {
	display: block;
}

.album-tool {
	position: absolute;
	bottom: 27px;
	right: 20px;
	z-index: 2;
	cursor: pointer;
	display: none;
}

.album-tool-avatar {
	bottom: 13px;
}

.icon-delete-album {
	font-size: 21px;
}