.error-input {
	display: block;
	margin-top: 5px;
	color: #CE5454;
}

.img-content img {
	max-width: 100%;
	width: auto;
}

.both-left {
	width: 49%;
	margin-right: 1%;
}

.both-right {
	width: 49%;
	margin-left: 1%;
}

.textarea {
	resize: vertical;
}

.thumbnail {
	height: auto;
}

.album-container {
}

.album-img {
	float: left;
}

.album-tool {
	cursor: pointer;
	float: right;
	clear: both;
	margin: 3px 0 0 0;
	width: 100%;
}

.album-tool-avatar {
	width: 100%;
}

.icon-delete-album,
.icon-delete-avatar {
	font-size: 21px;
	float: right;
}

.float-left{
	float: left;
}